/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loadingscreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes loadingscreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@-webkit-keyframes translate {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes translate {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

.html,
body {
  font-family: "roboto", sans-serif;
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 1680px;
  height: 100%;
  background-color: #fff;
}

.globalwrapper {
  max-width: 1680px;
  max-height: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: "shrikhand", sans-serif;
  font-size: 32px;
  font-weight: 900;
  padding: 15px;
}

h2 {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 15px;
  padding-top: 15px;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
}

p {
  font-size: 14px;
}

.bouton {
  color: #fff;
  border-radius: 30px;
  padding: 15px 20px;
  margin: 20px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(150deg, rgb(255, 121, 218), rgb(147, 86, 220));
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 0px rgba(177, 176, 176, 0.75);
  transition: 0.2s ease-in-out;
}
.bouton:hover {
  background-color: #000;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(120deg, rgb(255, 121, 218), rgb(147, 86, 220), 50%);
  filter: brightness(1.2);
}

.boutoncoeur {
  font-size: 30px;
}
.boutoncoeur--empty {
  position: relative;
}
.boutoncoeur--full {
  position: relative;
  left: -20px;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: scale(1);
  transition: transform 400ms;
}
.boutoncoeur--full:hover {
  background: -webkit-linear-gradient(176deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

.loader-container {
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  -webkit-animation: loadingscreen;
          animation: loadingscreen;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.loader {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: rgb(153, 226, 208);
  -webkit-animation: spin 3s linear;
          animation: spin 3s linear;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 10px solid transparent;
}

.loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: rgb(255, 121, 218);
  -webkit-animation: spin 2.5s linear;
          animation: spin 2.5s linear;
}

.loader::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: rgb(147, 86, 220);
  -webkit-animation: spin 1.5s linear;
          animation: spin 1.5s linear;
}

.headermenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.headermenu__icon {
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
  padding: 15px;
  margin: 0;
}
.footer__logo {
  color: #fff;
  font-family: "shrikhand", sans-serif;
  font-size: 18px;
  padding-bottom: 15px;
}
.footer__listElt {
  display: flex;
  padding-bottom: 5px;
}
.footer__icon {
  width: 30px;
}
.footer:first-child {
  margin-top: 0;
}
.footer:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer__list {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: space-around;
    gap: 30px;
  }
}
@media screen and (min-width: 992px) {
  .footer__logo {
    padding-top: 50px;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: space-between;
    width: 85%;
  }
}
.place {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 225, 225);
  padding: 15px;
}
.place__icon {
  padding-right: 15px;
}
.place__txt {
  font-weight: 500;
}

.explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #F2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
}
.explore__bouton {
  position: relative;
  z-index: 1;
}

.fct {
  margin: 15px;
  padding-bottom: 30px;
}
.fct__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.fct__listElt {
  display: flex;
  align-items: center;
  background-color: #F2f2f2;
  box-shadow: 5px 5px 10px rgb(227, 225, 225);
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.fct__listElt:hover {
  cursor: pointer;
  background-color: rgb(226, 210, 219);
}
.fct__listElt:hover .fct__icon {
  color: rgb(147, 86, 220);
  font-weight: 600;
}
.fct__number {
  display: flex;
  background-color: rgb(147, 86, 220);
  color: #fff;
  border-radius: 80px;
  padding: 10px;
  height: 30px;
  align-items: center;
  margin-left: -10px;
}
.fct__content {
  display: flex;
  padding-left: 15px;
  gap: 15px;
}
.fct__icon {
  padding-left: 15px;
}
.fct__txt {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .fct {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .fct {
    width: 95%;
  }
  .fct__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .fct__listElt {
    display: flex;
    flex: 1;
    background-color: #F2f2f2;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
  }
}
.restaurants {
  padding: 15px;
  background-color: #F2f2f2;
}
.restaurants__title {
  padding-top: 15px;
}

.resto {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card {
  display: flex;
}
.card__item {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 210px;
  border-radius: 15px;
}
.card__image {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__badge {
  position: absolute;
  background-color: rgb(153, 226, 208);
  top: 20px;
  right: 20px;
  font-size: 14px;
  padding: 5px;
}
.card__footer {
  display: flex;
  align-items: center;
  padding-left: 15px;
  justify-content: space-between;
}
.card__subtitle {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
  }
  .card__item {
    position: relative;
    background-color: #fff;
    height: 220px;
    border-radius: 15px;
  }
}
@media screen and (min-width: 992px) {
  .resto {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .card {
    display: flex;
    width: 48%;
  }
  .card__item {
    position: relative;
    background-color: #fff;
    height: 220px;
    border-radius: 15px;
  }
}
.hero {
  height: 200px;
}
.hero__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .hero {
    height: 400px;
  }
}
.container {
  background-color: #F2f2f2;
  padding: 15px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  z-index: 1;
  margin-top: -25px;
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: -50px;
    padding-bottom: 50px;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-family: "shrikhand", sans-serif;
  text-align: center;
  font-size: 24px;
}
.menu__boutoncoeur {
  cursor: pointer;
}

.menuwrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .menuwrapper {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .menuwrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
.menubody {
  width: 100%;
  position: relative;
}
.menubody__title {
  font-variant-caps: all-small-caps;
  margin-bottom: 25px;
}
.menubody__title:after {
  content: "";
  width: 35px;
  height: 5px;
  background-color: rgb(153, 226, 208);
  position: absolute;
  left: 0%;
  top: 45px;
}
.menubody__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 992px) {
  .menubody__list {
    gap: 30px;
  }
}
.menu-content {
  display: flex;
  position: relative;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0;
  -webkit-animation: translate 1000ms ease-out both;
          animation: translate 1000ms ease-out both;
}
.menu-content1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.menu-content2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.menu-content3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.menu-content4 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menu-content5 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.menu-content6 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.menu-content7 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.menu-content8 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.menu-content9 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.menu-content10 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.menu-content:hover .menu-content__Eltselect {
  flex: 2;
  opacity: 1;
  width: 60px;
}
.menu-content:hover .menu-content__Elticon {
  transition-property: all;
  transform: rotate(360deg);
}
.menu-content__listElt {
  display: flex;
  flex-direction: column;
  max-width: 98%;
  flex: 10;
  overflow: hidden;
  white-space: nowrap;
}
.menu-content__Elttext {
  display: flex;
  flex-direction: column;
  height: 60px;
}
.menu-content__Eltsubtitre {
  display: flex;
  justify-content: space-between;
}
.menu-content__Eltsubtitle {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-content__Eltprix {
  font-size: 16px;
  padding-right: 10px;
  padding-left: 15px;
  font-weight: 600;
}
.menu-content__Eltselect {
  display: flex;
  flex: 0;
  height: 60px;
  width: 60px;
  background-color: rgb(153, 226, 208);
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 26px;
  overflow: hidden;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  position: relative;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transform: rotate(0);
}
.menu-content__Elticon {
  transform: rotate(90deg);
  transition: transform 0.7s ease-in-out;
}

.menuBtn {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .menuBtn {
    margin-bottom: 30px;
  }
}