// BOUTON //

.bouton {
  color:$color-white;
  border-radius: 30px;
  padding: 15px 20px;
  margin: 20px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  background: $color-mix;
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 0px rgba(177, 176, 176, 0.75);

  &:hover {
    background-color: $color-black;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    background: $color-mixhover;
    filter: brightness(1.2);
  }
  transition: 0.2s ease-in-out;
  
  
}