.boutoncoeur {
  font-size: 30px;

  &--empty {
    position: relative;
                 }

    &--full {
        position: relative;
        left: -20px;
        background-clip: text;
        color: transparent;
        transform: scale(1);
        transition: transform 400ms;

        &:hover {
            background: -webkit-linear-gradient(176deg, #ff79da 0%, #9356dc 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(1.10);
        }
    }
}

