@keyframes loadingscreen {
  0% {
    opacity: 1;

  }

  100% {
    opacity: 0;
    z-index: -100;

  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }

  50% {
    stroke-dashoffset: 530;
  }

  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}

@keyframes translate {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}